article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  color: #000;
  background-color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 25px;
  line-height: 30px;
}

h3 {
  font-size: 17px;
  line-height: 24px;
}

.paragraph {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.description {
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

.input-radio + .input-radio__label {
  display: block;
  padding: 9px 0;
  padding-left: 64px;
  position: relative;
  cursor: pointer;
}

.input-radio + .input-radio__label::before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #444444;
  border-radius: 50%;
}

.input-radio + .input-radio__label:hover::before {
  border: 2px solid #62d1ba;
}

.input-radio + .input-radio__label:active::before {
  border: 2px solid #cccccc;
}

.input-radio:checked + .input-radio__label::after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #62d1ba;
}

.input-radio:focus + .input-radio__label::before {
  border: 2px solid #62d1ba;
}

.input-checkbox + .input-checkbox__label {
  display: block;
  padding: 9px 0;
  padding-left: 64px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input-checkbox + .input-checkbox__label::before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #444444;
}

.input-checkbox + .input-checkbox__label:hover::before {
  border: 2px solid #62d1ba;
}

.input-checkbox + .input-checkbox__label:active::before {
  border: 2px solid #cccccc;
}

.input-checkbox:checked + .input-checkbox__label::after {
  content: '';
  width: 22px;
  height: 16px;
  position: absolute;
  top: 13px;
  left: 10px;
  background-image: url("../images/icon-tick.svg");
  background-size: cover;
}

.input-checkbox:focus + .input-checkbox__label::before {
  border: 2px solid #62d1ba;
}

.input-text__wrapper {
  width: 100%;
  position: relative;
}

.input-text__label {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 42px;
}

.input-text {
  width: 100%;
  padding: 14px 0;
  padding-right: 33px;
  border: none;
  border-bottom: 2px solid #000000;
}

.input-text::-webkit-input-placeholder {
  color: #444444;
  opacity: 0.3;
}

.input-text::-moz-placeholder {
  color: #444444;
  opacity: 0.3;
}

.input-text:-ms-input-placeholder {
  color: #444444;
  opacity: 0.3;
}

.input-text::-ms-input-placeholder {
  color: #444444;
  opacity: 0.3;
}

.input-text::placeholder {
  color: #444444;
  opacity: 0.3;
}

.input-text:hover,
.input-text:active,
.input-text:focus {
  outline: none;
  border-bottom: 2px solid #62d1ba;
}

.input-text__image {
  position: absolute;
  top: 7px;
  right: 8px;
  opacity: 0.2;
}

.input-text:hover ~ .input-text__image {
  fill: #62d1ba;
  opacity: 1;
}

.input-text:focus ~ .input-text__image {
  fill: #62d1ba;
  opacity: 1;
}

.input-textarea {
  width: 100%;
  min-height: 142px;
  padding: 18px;
  border: 2px solid #000000;
  color: #444444;
  font-size: 17px;
  line-height: 18px;
  resize: none;
}

.input-textarea::-webkit-input-placeholder {
  color: #444444;
  opacity: 0.3;
}

.input-textarea::-moz-placeholder {
  color: #444444;
  opacity: 0.3;
}

.input-textarea:-ms-input-placeholder {
  color: #444444;
  opacity: 0.3;
}

.input-textarea::-ms-input-placeholder {
  color: #444444;
  opacity: 0.3;
}

.input-textarea::placeholder {
  color: #444444;
  opacity: 0.3;
}

.input-textarea:hover,
.input-textarea:active,
.input-textarea:focus {
  outline: none;
  border: 2px solid #62d1ba;
}

.page-main {
  border-top: 1px solid #ececec;
}

.page-main__wrapper {
  padding: 76px 0;
  background-color: #f1f1f1;
}

.page-main__title {
  margin: 0;
  text-align: center;
}

.page-main__form {
  padding-top: 30px;
  padding-bottom: 56px;
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-nav__arrow {
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.slider-nav__arrow:hover {
  opacity: 0.6;
}

.slider-nav__arrow:active {
  opacity: 0.3;
}

.slider-nav__arrow--prev {
  background-image: url("/images/icon-left-arrow.svg");
}

.slider-nav__arrow--next {
  background-image: url("/images/icon-right-arrow.svg");
}

.product-table {
  width: 100%;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  border-collapse: collapse;
}

.product-table__name,
.product-table__value {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.button {
  display: inline-block;
  padding: 13px 40px;
  position: relative;
  color: #444444;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
  -webkit-transition: ease .2s;
  -o-transition: ease .2s;
  transition: ease .2s;
}

.button:hover {
  background-color: #444444;
  color: #ffffff;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--large {
  text-align: center;
  width: 259px;
  max-width: 100%;
}

.button--green {
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}

.button--green:hover {
  background-color: #59d5bc;
}

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.page-header__logo {
  padding: 22px;
  text-align: center;
  cursor: pointer;
}

.page-header__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav__list,
.user-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__item,
.main-nav__item {
  border-top: 1px solid #ececec;
}

.user-nav__item {
  position: relative;
}

.user-nav__item svg {
  position: absolute;
  top: 34px;
  left: 32px;
}

.user-nav__item svg g {
  opacity: 0.5;
}

.main-nav__link {
  display: block;
  padding: 32px 0 32px 76px;
}

.main-nav__link.is-active,
.main-nav__link.is-active:hover,
.main-nav__link.is-active:active {
  opacity: 0.3;
  cursor: pointer;
}

.user-nav__link {
  display: block;
  padding: 32px 0 32px 76px;
}

.page-header__menu-offer {
  display: none;
}

.page-header__text {
  display: none;
  margin: 0;
}

.categories {
  padding-top: 1px;
  padding-bottom: 0;
  background-image: url("../images/hero-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #fafafa;
  background-size: 575px 373px;
}

.categories__wrapper {
  width: 320px;
  margin: 0 auto;
}

.categories__title {
  margin-top: 76px;
  margin-bottom: 120px;
  color: #010000;
  text-align: center;
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.categories__link {
  background-color: #56c3b2;
  display: block;
  padding: 30px 36px 30px 30px;
  position: relative;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  z-index: 2;
}

.categories__link--light-green {
  position: relative;
  background-color: #63d1bb;
}

.categories__link--light-green::after {
  content: '';
  width: 40px;
  height: 62px;
  position: absolute;
  top: 30px;
  right: 36px;
  background: url("../images/icon-interior.svg");
  opacity: 0.5;
}

.categories__link--light-green:hover {
  background-color: #59d5bc;
}

.categories__link--light-green:hover::after {
  opacity: 0.7;
}

.categories__link--light-green:active {
  color: rgba(255, 255, 255, 0.3);
}

.categories__link--light-green:active::after {
  opacity: 0.3;
}

.categories__link--dark-green {
  position: relative;
  background-color: #56c3b2;
}

.categories__link--dark-green::after {
  content: '';
  width: 61px;
  height: 61px;
  position: absolute;
  top: 30px;
  right: 36px;
  background: url("../images/icon-toy.svg");
  opacity: 0.5;
}

.categories__link--dark-green:hover {
  background-color: #46c1ae;
}

.categories__link--dark-green:hover::after {
  opacity: 0.7;
}

.categories__link--dark-green:active {
  color: rgba(255, 255, 255, 0.3);
}

.categories__link--dark-green:active::after {
  opacity: 0.3;
}

.week-product {
  padding: 34px 0;
  position: relative;
}

.week-product::after {
  content: '';
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: -6px;
  background-image: url("../images/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: contain;
}

.week-product__header {
  margin-bottom: 30px;
}

.week-product__title {
  margin: 0;
  margin-bottom: 8px;
}

.week-product__subtitle {
  color: #63d1bb;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.week-product__text {
  margin: 0;
  margin-bottom: 32px;
}

.week-product__list {
  margin-bottom: 28px;
}

.week-product__image {
  width: 260px;
  margin-bottom: 28px;
}

.week-product__price {
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
  color: #444444;
  font-size: 17px;
  line-height: 24px;
}

.about-us {
  padding-top: 34px;
  padding-bottom: 34px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 30px;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__text {
  margin: 0;
}

.about-us__item {
  margin-bottom: 32px;
  padding-top: 54px;
  line-height: 20px;
  background-repeat: no-repeat;
}

.about-us__item--eco {
  background-image: url("../images/icon-feature-flower.svg");
  background-position: 9px top;
}

.about-us__item--price {
  background-image: url("../images/icon-feature-money.svg");
  background-position: 0 top;
}

.about-us__item--like {
  background-image: url("../images/icon-feature-heart.svg");
  background-position: 9px top;
}

.about-us__item--hand-made {
  background-image: url("../images/icon-feature-ball.svg");
  background-position: 9px top;
}

.about-us__item--native {
  background-image: url("../images/icon-feature-rocket.svg");
  background-position: 9px top;
}

.about-us__item--pack {
  background-image: url("../images/icon-feature-gift.svg");
  background-position: 9px top;
}

.reviews {
  padding-top: 26px;
  padding-bottom: 46px;
  position: relative;
}

.reviews::after {
  content: '';
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: -6px;
  background-image: url(../images/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-size: contain;
}

.reviews__title {
  margin: 0;
  margin-bottom: 38px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 40px;
  line-height: 30px;
}

.reviews__author-name {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.reviews__author-mail {
  margin: 0;
  color: #444444;
  font-weight: 400;
  line-height: 30px;
}

.contacts {
  padding: 44px 0;
  position: relative;
}

.contacts__list {
  margin-bottom: 42px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  font-style: initial;
  line-height: 30px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 28px;
}

.contacts__item-name {
  margin-right: 28px;
}

.contacts__item-value--email {
  border-bottom: 1px solid #62d1ba;
}

.contacts__item-value--email:hover {
  color: #62d1ba;
  cursor: pointer;
}

.contacts__item-value--email:active {
  opacity: 0.3;
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin-bottom: 38px;
  position: relative;
  background-color: #444444;
}

.contacts__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-footer {
  background-color: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 24px;
}

.page-footer__logo {
  display: none;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.social-list__item:not(:last-child) {
  margin-right: 40px;
}

.social-list__link:hover svg {
  fill: #46c1ae;
}

.social-list__link:active svg {
  opacity: 0.3;
}

.copyright {
  margin: 0;
}

.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__link svg {
  fill: #63d1bb;
}

.copyright__link:hover svg {
  fill: #46c1ae;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__link-text {
  margin-right: 30px;
  font-size: 19px;
}

.catalog {
  padding-top: 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  margin: auto;
  margin-bottom: 30px;
}

.catalog__item:hover {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.catalog__item:active {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.product-card__image-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 260px;
  height: 195px;
  line-height: 0;
}

.product-card__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 30px 28px;
  border: 1px solid #ededed;
  border-top: none;
}

.product-card__title {
  margin: 0;
}

.product-card__link:hover {
  opacity: 0.6;
}

.product-card__link:active {
  opacity: 0.3;
}

.product-card__descr {
  margin: 0;
  margin-bottom: 18px;
}

.product-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
  border-top: 1px solid #ededed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
}

.product-card__price svg {
  opacity: 0.2;
  cursor: pointer;
}

.product-card__price svg:hover {
  opacity: 1;
  fill: #63d1bb;
}

.product-card__price svg:active {
  opacity: 0.3;
}

.promo {
  padding: 30px 0;
}

.promo__wrapper:hover {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.promo__wrapper:active {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.promo__title {
  margin: 0;
  padding: 30px;
  padding-bottom: 26px;
  padding-left: 90px;
  position: relative;
  border: 1px solid #ececec;
  border-bottom: none;
}

.promo__title::before {
  content: '';
  width: 32px;
  height: 32px;
  position: absolute;
  top: 34px;
  left: 34px;
  background-image: url("../images/icon-video.svg");
}

.promo__video {
  width: 260px;
  height: 150px;
  position: relative;
}

.promo__video-play {
  position: absolute;
  width: 101px;
  height: 77px;
  margin-top: -38.5px;
  margin-left: -50.5px;
  left: 50%;
  top: 50%;
}

.promo__video-play:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.promo__video-play:active {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.5;
}

.promo__content {
  padding: 34px;
  border: 1px solid #ececec;
  border-top: none;
}

.promo__descr {
  margin: 0;
}

.promo__button {
  margin-top: 30px;
  padding: 11px 20px;
}

.order {
  padding-top: 30px;
  padding-bottom: 56px;
}

.order__descr {
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.form__fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  position: relative;
  border: none;
}

.form__legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #62d1ba;
}

.form__legend::after {
  content: '';
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100px;
  height: 1px;
  margin-left: 24px;
  background-color: #62d1ba;
}

.form__legend--phone {
  margin-bottom: 0;
}

.form__legend--email {
  margin-bottom: 0;
}

.form__radio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__radio-item:not(:last-child) {
  margin-bottom: 14px;
}

.form__checkbox-item:not(:last-child) {
  margin-bottom: 20px;
}

.form__input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.form__input-item:not(:last-child) {
  margin-bottom: 24px;
}

.form__footer {
  position: relative;
}

.form__subtext {
  position: absolute;
  top: -26px;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form__button {
  margin-top: 24px;
}

body.lock {
  overflow: hidden;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.modal__content {
  width: 100%;
  max-width: 320px;
  padding: 36px 30px 46px 30px;
  border: 1px solid #c6c6c6;
  -webkit-box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
          box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  position: relative;
  background-color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: 0;
}

.modal-image .modal__content {
  padding: 0;
}

.modal.open .modal__content {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.modal__content_image {
  padding: 0;
}

.modal__image img {
  vertical-align: top;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

.modal__title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.modal__sub-title {
  font-weight: 400;
}

.modal__form {
  width: 100%;
}

.modal-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-form__list .input-radio + .input-radio__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ececec;
  padding: 10px 0;
  -webkit-transition: ease .2s;
  -o-transition: ease .2s;
  transition: ease .2s;
}

.modal-form__list .input-radio + .input-radio__label::before,
.modal-form__list .input-radio + .input-radio__label::after {
  content: none;
}

.modal-form__list .input-radio:checked + .input-radio__label {
  border: 2px solid #63d1bb;
}

.modal-form__radio-item {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.modal__button {
  margin-top: 32px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 43px;
    font-weight: 700;
    line-height: 50px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .paragraph {
    font-size: 17px;
    line-height: 30px;
  }

  .description {
    font-size: 15px;
    line-height: 30px;
  }

  .container {
    width: 768px;
    padding: 0 50px;
  }

  .input-radio + .input-radio__label::before {
    width: 52px;
    height: 52px;
  }

  .input-radio:checked + .input-radio__label::after {
    width: 22px;
    height: 22px;
    left: 15px;
    top: 15px;
  }

  .input-checkbox + .input-checkbox__label::before {
    width: 52px;
    height: 52px;
  }

  .input-checkbox:checked + .input-checkbox__label::after {
    width: 33px;
    height: 22px;
    top: 14px;
    left: 11px;
  }

  .input-text {
    padding-left: 16px;
  }

  .form__legend.input-text__legend {
    margin-top: 0px;
  }

  .page-main__wrapper {
    padding: 105px 0;
  }

  .page-main {
    position: relative;
    top: -48px;
  }

  .page-main__wrapper {
    position: relative;
  }

  .page-main__wrapper::after {
    content: '';
    height: 34px;
    width: 100%;
    position: absolute;
    bottom: -14px;
    left: 0;
    background-image: url("../images/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }

  .slider-nav__arrow {
    border: none;
  }

  .slider-nav__arrow {
    width: 50px;
    height: 26px;
  }

  .slider-nav__arrow--prev {
    margin-right: 36px;
  }

  .button--large {
    width: 292px;
  }

  .page-header__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .page-header__logo {
    padding: 0;
  }

  .page-header__logo-image {
    width: 113px;
    height: 46px;
  }

  .main-nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 25px;
    position: initial;
    font-size: 15px;
    z-index: 1;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list,
  .user-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-nav__item,
  .user-nav__item {
    border-top: none;
  }

  .main-nav__item:not(:last-child) {
    margin-right: 38px;
  }

  .user-nav__item svg {
    position: relative;
    top: 4px;
    left: 0;
  }

  .user-nav__item svg g {
    opacity: 0.5;
  }

  .user-nav__item--search {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .main-nav__link {
    padding: 0;
  }

  .user-nav__link {
    padding: 32px;
  }

  .user-nav__link--basket {
    padding-right: 0;
  }

  .user-nav__title--search {
    display: none;
  }

  .user-nav__title--basket {
    margin-left: 30px;
  }

  .page-header__text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: block;
    margin: 0;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 400;
    z-index: 1;
  }

  .categories {
    position: relative;
    background-image: url("../images/hero-tablet@1x.jpg");
    background-size: 1150px 746px;
  }

  .categories::after {
    content: '';
    height: 34px;
    width: 100%;
    position: absolute;
    bottom: -14px;
    left: 0;
    background-image: url("../images/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }

  .categories__wrapper {
    width: 768px;
    max-width: 100%;
  }

  .categories__title {
    margin-top: 0;
    margin-bottom: 370px;
  }

  .categories__title br:first-child {
    display: none;
  }

  .categories {
    padding-top: 160px;
  }

  .categories__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 50px;
  }

  .categories__link {
    height: 130px;
    z-index: 0;
  }

  .categories__link:hover {
    height: 135px;
    margin-top: -5px;
  }

  .week-product {
    padding: 52px 0;
  }

  .week-product::after {
    height: 17px;
    bottom: -17px;
  }

  .week-product__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 54px;
  }

  .week-product__subtitle {
    max-width: 70px;
    text-align: center;
  }

  .week-product__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .week-product__text {
    margin-bottom: 34px;
  }

  .week-product__list {
    margin-bottom: 0;
  }

  .week-product__image {
    width: 334px;
    margin-bottom: 0;
  }

  .week-product__content-header,
  .week-product__content-footer {
    width: 292px;
  }

  .week-product__content-footer {
    margin-top: -110px;
  }

  .week-product__price {
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
  }

  .about-us {
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .about-us__title {
    margin-bottom: 44px;
  }

  .about-us__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .about-us__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 240px;
            flex: 0 0 240px;
  }

  .about-us__text {
    width: 293px;
    margin: 0;
    font-size: 20px;
    line-height: 22px;
  }

  .reviews {
    padding-top: 82px;
    padding-bottom: 68px;
  }

  .reviews::after {
    height: 17px;
    bottom: -17px;
  }

  .reviews__wrapper {
    padding-top: 86px;
    padding-bottom: 53px;
    background-image: url("../images/review@1x.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .reviews__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .reviews__title {
    margin-bottom: 64px;
  }

  .reviews__title {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }

  .reviews__text {
    margin-bottom: 68px;
    padding-right: 24px;
  }

  .reviews__author-name {
    font-size: 18px;
  }

  .reviews__button {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 60px;
  }

  .contacts {
    padding: 60px 0;
  }

  .contacts__title {
    position: relative;
  }

  .contacts__title::before {
    content: '';
    width: 47px;
    height: 81px;
    position: absolute;
    top: -19px;
    right: 0;
    background: url("../images/icon-flag.svg");
  }

  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 60px;
  }

  .contacts__item {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__map {
    margin-bottom: 54px;
  }

  .page-footer {
    padding-top: 52px;
    padding-bottom: 58px;
  }

  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .page-footer__wrapper-logo {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }

  .page-footer__logo {
    display: inline-block;
    width: 101px;
    height: 34px;
  }

  .page-footer__logo:hover svg {
    fill: #46c1ae;
  }

  .page-footer__logo:active svg {
    opacity: 0.3;
  }

  .page-footer__social {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }

  .copyright__link {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .copyright {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }

  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 670px;
    min-height: 334px;
    margin-bottom: 30px;
  }

  .product-card__image-link {
    width: 334px;
    height: 334px;
  }

  .product-card__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid #ededed;
  }

  .product-card__price {
    font-size: 17px;
    margin-top: auto;
  }

  .promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .promo__video {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 668px;
    height: 455px;
  }

  .promo__title {
    border-top: none;
    padding: 40px 42px 0 107px;
  }

  .promo__title::before {
    top: 34px;
  }

  .promo__content {
    padding: 40px 42px 46px 42px;
  }

  .promo__button {
    margin-top: 40px;
    width: 100%;
  }

  .order {
    padding-bottom: 10px;
  }

  .order__descr {
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__fieldset {
    margin-bottom: 50px;
    position: relative;
  }

  .form__fieldset:nth-child(even) {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f1f1f1;
  }

  .form__fieldset:nth-child(even) .input-text--phone,
  .form__fieldset:nth-child(even) .input-text--email {
    background-color: #f1f1f1;
  }

  .form__legend {
    width: 120px;
    margin-top: 14px;
    position: absolute;
    left: 50px;
  }

  .form__legend::after {
    display: none;
  }

  .form__list {
    margin-bottom: 0;
    padding-left: 164px;
  }

  .form__radio-item:not(:last-child) {
    margin-bottom: 38px;
  }

  .form__checkbox-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form__checkbox-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .form__checkbox-item:not(:last-child) {
    margin-bottom: 38px;
  }

  .form__checkbox-item:nth-last-child(1) {
    margin-bottom: 12px;
  }

  .form__checkbox-item:nth-last-child(2) {
    margin-bottom: 12px;
  }

  .form__input-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__input-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .form__textarea-item {
    padding-left: 164px;
  }

  .form__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__subtext {
    position: initial;
    font-size: 17px;
  }

  .form__button {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 0;
  }

  .modal__content {
    max-width: 568px;
    padding: 50px 110px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 38px;
  }

  .modal__title br {
    display: none;
  }

  .modal__button {
    width: 100%;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .categories {
    background-image: url("../images/hero-tablet@2x.jpg");
  }

  .reviews__wrapper {
    background-image: url("../images/review@2x.jpg");
  }
}

@media (min-width: 1150px) {
  h2 {
    font-size: 53px;
    line-height: 57px;
  }

  .container {
    width: 1150px;
    padding: 0 50px;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 0;
    font-size: 17px;
  }

  .main-nav__item:not(:last-child) {
    margin-right: 0;
    border-right: 1px solid #ececec;
  }

  .main-nav__item:first-child .main-nav__link {
    padding-right: 35px;
  }

  .main-nav__item:last-child .main-nav__link {
    padding-left: 35px;
  }

  .main-nav__link {
    padding: 32px 0;
  }

  .page-header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }

  .page-header__user-nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .page-header__menu-offer {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: block;
    margin: 0;
    margin-top: 25px;
    font-size: 15px;
    z-index: 1;
  }

  .menu-offer__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-nav__link:hover,
  .page-header__logo:hover,
  .menu-offer__link:hover {
    opacity: 0.6;
  }

  .main-nav__link:active,
  .page-header__logo:active,
  .menu-offer__link:active {
    opacity: 0.3;
  }

  .user-nav__link svg {
    opacity: 0.2;
  }

  .user-nav__link:hover svg {
    opacity: 1;
    fill: #63d1bb;
  }

  .user-nav__link:hover span {
    opacity: 0.6;
  }

  .user-nav__link:active svg {
    opacity: 0.3;
  }

  .user-nav__link:active span {
    opacity: 0.3;
  }

  .menu-offer__item:not(:last-child) {
    margin-right: 60px;
  }

  .page-header__text {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .categories {
    padding-top: 170px;
  }

  .categories__wrapper {
    width: 1150px;
  }

  .categories__title {
    margin-bottom: 350px;
  }

  .week-product {
    padding: 72px 0;
  }

  .week-product::after {
    width: 1050px;
    height: 23px;
    margin-left: -525px;
    bottom: -23px;
    left: 50%;
  }

  .week-product__header {
    margin-top: 64px;
    margin-left: 174px;
    position: absolute;
  }

  .week-product__subtitle {
    position: absolute;
    left: -128px;
  }

  .week-product__content {
    margin-left: 174px;
  }

  .week-product__content-header {
    margin-top: 166px;
  }

  .week-product__image {
    width: 525px;
  }

  .about-us {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  .about-us__wrapper {
    margin-left: 174px;
  }

  .about-us__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .about-us__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 360px;
            flex: 0 0 360px;
  }

  .reviews::after {
    width: 1050px;
    height: 23px;
    margin-left: -525px;
    bottom: -23px;
    left: 50%;
  }

  .reviews__wrapper {
    padding-top: 80px;
    padding-bottom: 100px;
    background-position: 50px top;
  }

  .reviews__title {
    padding-left: 174px;
    margin-bottom: 50px;
  }

  .reviews__text {
    margin-bottom: 48px;
    padding-right: 106px;
    padding-left: 174px;
  }

  .reviews__author {
    padding-left: 174px;
  }

  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1050px;
    margin: 0 auto;
    padding: 50px;
  }

  .contacts__info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 350px;
    padding: 0;
    padding-left: 124px;
  }

  .contacts__title {
    margin-top: 68px;
    margin-bottom: 46px;
  }

  .contacts__title::before {
    left: -112px;
  }

  .contacts__list {
    display: block;
    margin-bottom: 0;
  }

  .contacts__map-wrapper {
    width: 525px;
    height: 457px;
    position: relative;
    right: -50px;
  }

  .contacts__map {
    background: url("../images/map-desktop@1x.jpg");
    position: absolute;
    top: 0;
    right: 0;
  }

  .contacts__button-wrapper {
    display: block;
    margin-top: -52px;
    padding-left: 124px;
  }

  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 316px;
            flex: 0 0 316px;
    margin-right: -25px;
    margin-left: -25px;
  }

  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 316px;
    margin-right: 25px;
    margin-left: 25px;
  }

  .product-card__image-link {
    width: 316px;
    height: 462px;
  }

  .product-card__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 316px;
    min-height: 201px;
    border-top: 1px solid #ededed;
  }

  .product-card__price {
    font-size: 17px;
    margin-top: auto;
  }

  .promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    border: 1px solid #ececec;
  }

  .promo__video {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 682px;
    height: 455px;
  }

  .promo__title {
    max-width: 160px;
    padding-left: 0;
    padding-top: 56px;
    position: absolute;
    top: 48px;
    right: 140px;
    border: none;
  }

  .promo__title::before {
    top: 0;
    left: 0;
  }

  .promo__content {
    padding: 186px 58px 0 80px;
    border: none;
  }

  .order__descr {
    padding-left: 164px;
    max-width: 840px;
  }

  .form__legend {
    left: 84px;
  }

  .form__list {
    padding-left: 174px;
    padding-right: 174px;
  }

  .form__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .form__item:nth-last-child(3) {
    margin-bottom: 12px;
  }

  .form__checkbox-item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }

  .form__textarea-item {
    padding-left: 174px;
    padding-right: 174px;
  }

  .form__footer {
    padding-left: 174px;
    padding-right: 174px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .button {
    width: 100%;
  }

  .page-header__inner {
    padding: 0;
  }

  .main-nav__list,
  .page-header__user-nav {
    display: none;
  }

  .main-nav__list.is-active,
  .page-header__user-nav.is-active {
    display: block;
  }

  .main-nav__list.main-nav--nojs,
  .page-header__user-nav.main-nav--nojs {
    display: block;
  }

  .main-nav__toggle {
    display: inline-block;
    width: 20px;
    height: 14px;
    padding: 0;
    position: absolute;
    top: 38px;
    right: 30px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .main-nav__toggle-line {
    position: absolute;
    top: 6px;
    left: 0;
    background-color: #221f1f;
    width: 20px;
    height: 2px;
  }

  .main-nav__toggle::before,
  .main-nav__toggle::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #221f1f;
    right: 0;
  }

  .main-nav__toggle::before {
    top: 0;
  }

  .main-nav__toggle::after {
    top: 12px;
  }

  .main-nav--active .main-nav__toggle-line {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .main-nav--active .main-nav__toggle::after {
    top: 6px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-nav--active .main-nav__toggle::before {
    top: 6px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .reviews__author {
    margin-bottom: 36px;
  }

  .reviews__slider-nav {
    margin-bottom: 38px;
  }

  .contacts__title {
    font-size: 18px;
  }

  .social-list {
    padding-bottom: 24px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .contacts__item:not(:last-child) {
    margin-right: 54px;
    margin-bottom: 0;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .categories {
    background-image: url("../images/hero-mobile@2x.jpg");
  }
}
@supports (-webkit-appearance:none){
.input-checkbox:checked + .input-checkbox__label::after{background-image:url("../images/icon-tick.svg")}
.slider-nav__arrow--prev{background-image:url("/images/icon-left-arrow.svg")}
.slider-nav__arrow--next{background-image:url("/images/icon-right-arrow.svg")}
.categories{background-image:url("../images/hero-mobile@1x.webp")}
.categories__link--light-green::after{background:url("../images/icon-interior.svg")}
.categories__link--dark-green::after{background:url("../images/icon-toy.svg")}
.week-product::after{background-image:url("../images/bg-zigzag-line.svg")}
.about-us__item--eco{background-image:url("../images/icon-feature-flower.svg")}
.about-us__item--price{background-image:url("../images/icon-feature-money.svg")}
.about-us__item--like{background-image:url("../images/icon-feature-heart.svg")}
.about-us__item--hand-made{background-image:url("../images/icon-feature-ball.svg")}
.about-us__item--native{background-image:url("../images/icon-feature-rocket.svg")}
.about-us__item--pack{background-image:url("../images/icon-feature-gift.svg")}
.reviews::after{background-image:url(../images/bg-zigzag-line.svg)}
.promo__title::before{background-image:url("../images/icon-video.svg")}
}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){
.page-main__wrapper::after{background-image:url("../images/bg-zigzag-fill.svg")}
.categories{background-image:url("../images/hero-tablet@1x.webp")}
.categories::after{background-image:url("../images/bg-zigzag-fill.svg")}
.reviews__wrapper{background-image:url("../images/review@1x.webp")}
.contacts__title::before{background:url("../images/icon-flag.svg")}
}

}

 @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx){

@supports (-webkit-appearance:none){
.categories{background-image:url("../images/hero-tablet@2x.webp")}
.reviews__wrapper{background-image:url("../images/review@2x.webp")}
}

}

 @media (min-width: 1150px){

@supports (-webkit-appearance:none){
.contacts__map{background:url("../images/map-desktop@1x.webp")}
}

}

 @media (min-width: 320px) and (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 768px) and (max-width: 1149px){

@supports (-webkit-appearance:none){

}

}

 @media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx){

@supports (-webkit-appearance:none){
.categories{background-image:url("../images/hero-mobile@2x.webp")}
}

}
