.input-radio + .input-radio__label {
    display: block;
    padding: 9px 0;
    padding-left: 64px;
    position: relative;
    cursor: pointer;

    &::before {
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid #444444;
        border-radius: 50%;

        @media (min-width: $md-width) {
            width: 52px;
            height: 52px;
        }
    }

    &:hover::before {
        border: 2px solid #62d1ba;
    }

    &:active::before {
        border: 2px solid #cccccc;
    }
}

.input-radio:checked + .input-radio__label::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: #62d1ba;

    @media (min-width: $md-width) {
        width: 22px;
        height: 22px;
        left: 15px;
        top: 15px;
    }
}

.input-radio:focus + .input-radio__label::before {
    border: 2px solid #62d1ba;
}
