.order {
    padding-top: 30px;
    padding-bottom: 56px;

    @media (min-width: $md-width) {
        padding-bottom: 10px;
    }
}

.order__descr {
    margin: 0;
    margin-bottom: 30px;
    color: #444444;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;

    @media (min-width: $md-width) {
        margin-bottom: 60px;
        font-size: 17px;
        line-height: 30px;
    }

    @media (min-width: $desktop-width) {
        padding-left: 164px;
        max-width: 840px;
    }
}
